* {
  font-family: 'Roboto', 'sans-serif'
}
.catalog_list {
  padding: 20px 0px;
  margin: 0px;
}
.main_header a {
  color: black;
}
.catalog_item {
  margin: 10px 10px;
  display: inline-block;
}

.catalog_item_button {
  cursor: pointer;
  margin: 0px 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: #eee;
  text-decoration: none;
  padding: 5px 10px;
  color: black;
}
