{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Каталог вещей{% endblock title %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto&display=swap"/>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content="{% block desc %}Каталог вещей{% endblock desc %}"/>

        <link
          media="print"
          onload="this.onload=null;this.removeAttribute('media');"
          href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto&display=swap" 
          rel="stylesheet">
        <link 
            rel="stylesheet"
            href="{% static 'catalog/style.css' %}"/>
        {% block head %}
        <menu class="header">
          <div>
            <a href="{% url 'catalog:index' %}">
              {% if current_catalog_group %}
                {{ current_catalog_group.name }}
              {% else %}
                Create Your Catalog
              {% endif %}
            </a>
          </div>
          {% if current_catalog_group %}
            <div><a id="create-action" href="{% url 'catalog:create' %}">Items</a></div>
            <div><a id="create-group-action" href="{% url 'catalog:create-group' %}">Groups</a></div>
          {% else %}
            <div><a id="create-catalog-group-action" href="{% url 'catalog:create-catalog-group' %}">Catalogs</a></div>
          {% endif %}
          <div class="user-menu">
            {% if not request.user.is_authenticated %}
              <a href="{% url 'catalog:social:begin' 'google-oauth2' %}" class="catalog_item_button_small">login</a>
            {% else %}
              <span>{{request.user.email}}</span>
              <form method="post" action="{% url 'catalog:logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="catalog_item_button_small">logout</button>
              </form>
            {% endif %}
          </div>
        </menu>
        {% endblock head %}
    </head>
    <body class="content_block">
        {% block content %}{% endblock content %}
    </body>
</html>
