{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'catalog/js/bundle.js' %}"></script>
<div>
  <label class="search-select">Search<input type="text"/></label>
</div>
{% if query_dict.error %}
<div class="catalog_error">
  {{ query_dict.error }}
</div>
{% endif %}

<h2>Current action:</h2>

<form class="catalog_actions" action="">
  {% for field, value in query_dict.items %}
    <input type="hidden" name="{{ field }}" value="{{ value }}">
  {% endfor %}
  {% if query_dict.only_to_by %}
    <button class="catalog_item_button_small" name="only_to_by" value="">
      Отметить как купленное
    </button>
  {% else %}
    <button class="catalog_item_button_small" name="only_to_by" value="1">
      Запланировать покупку
    </button>
  {% endif %}
  {% if query_dict.flat_view %}
    <button class="catalog_item_button_small" name="flat_view" value="">
      Показать в категориях
    </button>
  {% else %}
    <button class="catalog_item_button_small" name="flat_view" value="1">
      Раскрыть категории
    </button>
  {% endif %}
</form>

{% if query_dict.group %}
<h2 class="main_header">Group: {{ selected_group }}</h2>
<a href="{% url 'catalog:index' %}?{{ query }}&group=" class="catalog_item_button_small">Exit from group</a>
{% endif %}

<h2>Items:</h2>
<ul class="catalog_list">
{% for group in groups %}
    <li class="catalog_item">
      <a class="catalog_item_button" href="?{{ query }}&group={{ group.id }}">[{{ group }}]</a>
    </li>
{% endfor %}
{% for catalog_item in latest_catalog_list %}
    <li class="catalog_item">
      <form method="post" action="{% url 'catalog:update' catalog_item.id %}?{{ query }}">
        <button class="catalog_item_button" name="action">
          {{ catalog_item }}
        </button>
        {% csrf_token %}
      </form>
    </li>
{% endfor %}
</ul>
{% endblock %}
